<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css" type="text/css">
    <title>signup</title>
</head>
<body>
    <section>
        <div class="header">
            <h1>SIGN-UP</h1>
        </div>
        <div class="form-container">
            <fieldset>
                <form action="" method="post">
                    <label for="username">Create an Username</label>
                    <input type="text" id="username" name="signupUsername">
                    <label for="password">Create a Password</label>
                    <input type="text" id="password" name="signupPassword">

                    <button type="submit">SIGN-UP</button>
                </form>
            </fieldset>
        </div>
    </section>
</body>
</html>